<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<style>
		html, body {
			background-color: #ccc;
			height: 10000px;
		}
		.correct {
			color: green;
		}

		.error {
			 color: red;
		}
	</style>
</head>
<body>
	<div id="app">
		<!-- <h3>{{ site }}</h3>
		<p v-html="domain"></p>
		<p :title="title">最美的期待</p>
		<p :title="'title'">最美的期待</p>
		<p>{{ num * 3 }}</p>
		<p>{{ site.slice(0,5).toUpperCase() }}</p> -->
		<!-- <p class="correct">{{ text }}</p>
		<p class="error">{{ text }}</p>
		<p v-bind:class="{correct: isActive}">{{ text }}</p>
		<p v-bind:class="{correct: isActive,error: hasError}">{{ text }}</p>
		<p :style="[colorStyle, fontSizeStyle]">haha</p> -->
		<!-- <button v-on:click.self.prevent="say('1')">点击</button>
		<p>{{ welcome }}</p> -->
		<p onclick="this.nextElementSibling.remove()">
			用户名: <input id="input" type="text" placeholder="请输入用户名" v-model='welcome'>
		</p>
		<p>
			<span onclick="this.remove()">您输入的内容是: {{ welcome }}</span>
		</p>
		<p>您的级别是: 
			<select v-model="level">
				<option value="1">vip1</option>
				<option value="2">vip2</option>
				<option value="3">vip3</option>
			</select>
		</p>
		<p>您的级别是: {{ level }}</p>
		<ul>
			<li v-for="book in books">{{ book.name }}</li>
		</ul>
	</div>
	<p>
            <label for="wheelDelta"> 滚动值:</label>(IE/Opera)
            <input type="text" id="wheelDelta" />
        </p>
        <p>
            <label for="detail"> 滚动值:(Firefox)</label>
            <input type="text" id="detail" />
        </p>
        <div id="wheel" style="width: 50px;height: 50px;background-color: #f22; display: none; position: fixed;left: 1vw; top: 45vh;"></div>
        <script type="text/javascript">
            var scrollFunc = function(e) {
            	var wheel = document.getElementById('wheel');
            	wheel.style.display = 'block';
                // e是FF的事件。window.event是chrome/ie/opera的事件
                var ee = e || window.event;
                // console.log(ee); //可以看看ee.wheelDelta和e.detail在浏览器中的值；
                var t1 = document.getElementById("wheelDelta");
                var t2 = document.getElementById("detail");
                if(ee.wheelDelta) { //IE/Opera/Chrome   
                    t1.value = ee.wheelDelta;
                } else if(ee.detail) { //Firefox    
                    t2.value = ee.detail;
                }
            }
            wheel.style.display = 'none'
            /*注册事件*/
            if(document.addEventListener) {
                //W3C FF
                document.addEventListener('DOMMouseScroll', scrollFunc, false);
            } 
            //IE/Opera/Chrome/Safari
            window.onmousewheel = document.onmousewheel = scrollFunc; 
        </script>
	<script type="text/javascript">
		// function getParams (url, param) {
		// 	if (!/\?/.test(url)) {
		// 		return null;
		// 	}

		// 	var search = url.split('?')[1];
		// 	var array = search.split('&');

		// 	for (var i=0;i<array.length; i++) {
		// 		var tmp = array[i].split('=');
		// 		if(tmp[0] === param) {
		// 			return decodeURIComponent(tmp[1]);
		// 		}
		// 	}

		// 	return null;
		// }

		// var url = 'https://www.baidu.com/s?wd=javascript1&rsv_spt=1&rsv_iqid=0xc30689e400027850&issp=1&f=8&rsv_bp=1&rsv_idx=2&ie=utf-8&rqlang=cn&tn=baiduhome_pg&rsv_enter=0&oq=javascript&inputT=699&rsv_t=52648oZ%2FjJmPbUzUuY5k8zRycieM8wWconC2%2F5fQtsVaoojRPMzyEj%2BPMrAs0ZjFxJlx&rsv_sug3=14&rsv_sug1=12&rsv_sug7=100&rsv_pq=e656a96900023ecc&rsv_sug4=993&rsv_sug=1';
		// var h = document.getElementById('h1');
		// var h1 = getParams(url, 'wd');
		// h.innerHTML = h1;
		 
		let vm = new Vue({
			el : '#app',
			data : {
				// site : 'hello world',
				// domain : '<span style="color:red">haha</span>',
				// title : 'daniyar',
				// num : 200
				// text : '学习是一件令人愉快的事',
				// isActive : true,
				// hasError : true,
				// colorStyle : {
				// 	color: 'green'
				// },
				// fontSizeStyle : {
				// 	fontSize: '20px'
				// }
				welcome : '',
				level : '1',
				userList : ['admin','daniyar','hiahia'],
				books : [
					{ name : 'react' },
					{ name : 'vue' },
					{ name : 'angular' },
				]
			},
			watch: {
				welcome: function (newVal) {
					this.userList.forEach(function (value) {
						if (newVal == value) {
							let impty = document.getElementById('input').value;
							impty = ' ';
						}
					})
				}
			}
		})
	</script>
</body>
</html>
